/.vs
/backend/.vs
/backend/ManagerBackend/.vs
/backend/ManagerBackend/ManagerBackend/bin
/backend/ManagerBackend/ManagerBackend/obj
/backend/ManagerBackend/ManagerBackend/appsettings.json
/backend/ManagerBackend/ManagerBackend/appsettings.Development.json
