/.vs
/backend/WebApplication1/WebApplication1/bin
/backend/WebApplication1/WebApplication1/obj
/backend/WebApplication1/WebApplication1/appsettings.json
/backend/WebApplication1/WebApplication1/appsettings.Development.json
/backend/WebApplication1/.vs
